* {
    height: 100%;   /* to use realtive height with all elements */
}

body {
    background-color: aqua;
    height: 100%;   /* to use realtive height with all elements */
}

@font-face{
    font-family:'digital-7';
    src: url('fonts/digital-7.ttf');
}

.main {
    background-color: rgb(1, 1, 49);
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    /* height: 50vw;
    min-height: 50vw;
    width: calc(50vw * 0.75); */
    /* width: 35vw; */
    /* height: calc(35vw * (4/3)); */
    /* max-height: 100vh; */
    height: 90vh;
    width: calc(90vh * (3/4));      /* aspect ratio of 4:3 */
    min-height: 450px;
    min-width: 350px;
    display: flex;
    flex-flow: column nowrap;
    place-content: center flex-start;
    gap: 8px;
    padding: 16px;
}

.output {
    /* outline: 2px solid red; */
    background-color: darkblue;
    border-radius: 8px;
    /* flex: 1; */
    display: flex;
    flex-flow: column nowrap;
    height: 30%;
    padding: 8px;
}

.auxscreen {
    /* outline: 2px solid pink; */
    background-color: gray;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

.mainscreen {
    /* outline: 2px solid rosybrown; */
    background-color: lightgray;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

.input {
    /* outline: 2px solid green; */
    background-color: darkblue;
    border: none;
    border-radius: 8px;
    /* flex: 1; */
    display: flex;
    height: 70%;
    padding: 8px;
    gap: 8px;
}

.keypad {
    /* outline: 2px solid blue; */
    /* flex: 1; */
    display: flex;
    flex-flow: column nowrap;
    width: 75%;
    gap: 4px;
}

.auxkeys {
    /* outline: 2px solid yellow; */
    /* flex: 1; */
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 2px;
}

.mainkeys {
    /* outline: 2px solid yellowgreen; */
    /* flex: 1; */
    height: 80%;
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
}

.keyrow {
    display: flex;
    gap: 2px;
}

.opkeys {
    /* outline: 2px solid lightblue; */
    /* flex: 1; */
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
}

p.auxOutput {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    place-content: flex-end flex-end;
    /* font-size: 6.2vh; */
    font-size: clamp( 42px, 10vh, 8vh);
    /* font-size: calc( 0.1em + 8.2vh); */
    font-family: digital-7;
    color: black;
}

p.mainOutput {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    place-content: flex-end flex-end;
    /* font-size: 12vh; */
    font-size: clamp( 84px, 20vh, 16vh);
    /* font-size: calc( 0.5em + 8.2vh); */
    font-family: digital-7;
    color: black;
}

button {
    font-size: clamp( 30px, 10vh, 6vh);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover {
    color: 'gray';
}

.footer {
    margin-top: 8px;
    height: 10vh;
    text-align: center;
}

.footer p {
    font-size: 2.5vh;
    vertical-align: bottom;
}